body {
  margin: 0;
  background: #0e0e0e;
  color: white;
  font-family: Arial, sans-serif;
}

.page {
  padding: 20px;
}

.card {
  background: #181818;
  padding: 20px;
  margin-top: 20px;
  border-radius: 10px;
}

input, select {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  background: #111;
  border: 1px solid #333;
  border-radius: 5px;
  color: white;
}

.primary-btn {
  width: 100%;
  padding: 14px;
  background: #ff444f;
  border: none;
  color: white;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  margin-top: 10px;
}

.secondary-btn {
  width: 100%;
  padding: 14px;
  background: #2c2c2c;
  border: none;
  color: white;
  border-radius: 5px;
  margin-top: 10px;
  font-size: 18px;
  cursor: pointer;
}

.sidebar {
  width: 240px;
  background: #111;
  height: 100vh;
  padding: 20px;
  position: fixed;
}

.sidebar a {
  display: block;
  padding: 12px;
  margin-top: 10px;
  background: #1c1c1c;
  text-decoration: none;
  color: white;
  border-radius: 6px;
}

.sidebar a:hover {
  background: #ff444f;
}

.content {
  margin-left: 260px;
  padding: 20px;
}
